
/*Selector para crear imagenes con texto */
.imagenTexto{ 
    position:relative;
    text-align: center;
    color:rgb(247, 250, 252);

}

/* Modifica el texto de la imagen */
.imagenTexto h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3em;
}

/* Modifica la imagen */
.imagenTexto img{
    width: 100%;
    opacity: 0.7;
    filter: brightness(50%);
    border-radius: 10px;
}

.separador{
    height: 70px;
    background-color: #002b09; /*color de fondo de la barra*/
    color: #fff; /*color del texto dentro de la barra*/
    padding: 10px; /*espacio alrededor del texto dentro de la barra*/
    text-align: center;
    border-radius: 25px;
}

.linea {
    border-top: 3px solid rgba(47, 68, 37, 0.973);
    width: 100%;
}

.enlace {
    color: rgb(0, 128, 53);
}

.estetica-img {
    text-align:center;
}

.estetica-img img{
    border: 1px solid rgb(99, 99, 99);
    border-radius: 25px;
    box-shadow: 10px 10px 15px grey;
}

@keyframes animacion {
    from { transform: translateY(100%); }
    to   { transform: translateY(0); }
  }

.animar {
    transform: translateY(100%);
    transition: transform 1s ease-in-out;
  }